* {
  margin: 0;
}

body {

}

p {
  margin-bottom: 0;
}

.navbar-custom {
  width: 80%;
  font-size: calc(0.7vw + 0.7vh + 0.25vmin);
}

.offcanvas-body, .container-fluid {
  align-items: center;
}

.logo {
  width: 200px;
}

.logo-mobile {
  width: 200px;
}

.footer {
  width: 100%;
  background-color: #262626;
  color: #fff;
}

.footer-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.copyright-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  padding: 20px;
  text-align: center;
}

.footer-box-container {
  display: flex;
  justify-content: center;
}

.box-info {
  margin-top: 10px;
  width: 50%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.facebook-button {
  display: flex;
  align-items: center;
  justify-conent: center;
  width: fit-content;
  gap: 5px;
}

.mobile-990 {
  display: none;
}


.text-black, .text-black a {
  color: #000;
}

.text-white, .text-white a {
  color: #fff;
}

.hr {
  border: 1px solid #3F2E29;
  opacity: 1;
}

.ul-font {
  font-size: 1.25rem;
}

hr.solid {
  border-top: 3px solid white;
  width: 75%;
  opacity: 1;
}

.call-button, .call-button:visited {
  background-color: #85adad;
  color: black !important;
  border: 4px solid #334d4d;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  border-radius: 35px;
}

.call-button:hover, .call-button:active {
  background-color: #a3c2c2;
  color: white;
}

@media only screen and (max-width: 1480px) {

}

@media only screen and (max-width: 1399px) {
  hr.solid {
    width: 65%;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-custom {
    width: 90%;
  }

  .ul-font {
    font-size: 1rem;
  }

  .logo {
    width: 200px;
  }
}


@media only screen and (max-width: 990px) {
  .navbar-custom {
    width: 100%;
  }

  .navbar-container {
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile-990 {
    display: block;
  }

  .t-center-990 {
    text-align: center;
  }

  .p-hero{
    width: 75%;
  }
}

@media only screen and (max-width: 760px) {
  .navbar-custom {
    width: 100%;
  }

  .logo {
    width: 200px;
  }

  .p-hero {
    width: 100%;
  }

  .box {
    flex-direction: column;
  }

  .box-info {
    width: 100%;
  }
}